.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 2px 2px 18px;
  width: 96%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  border-bottom: 1px solid $black;
  margin: 0 auto;

  @media (min-width: $screen-desktop) {
    font-size: 18px;
    width: 100%;
  }

  &:after {
    content: '\02795';
    font-size: 16px;
    float: right;
    margin: 0 5px;
  }

  &.active {
    &:after {
      content: '\2796';
    }

    + .panel {
      display: block;
    }
  }
}

.panel {
  padding: 0 2%;
  display: none;

  @media (min-width: $screen-desktop) {
    padding: 0 10px;
  }
}
